body {
  font-family: 'MedievalSharp', cursive, Arial, sans-serif;
  margin: 0;
  background-image: url('../img/rockBG3.png');
  background-color: #1b1b1b;
  color: #2d1b00;
}

* {
  box-sizing: border-box;
}

.contactus-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}

.location, .comment {
  flex: 1;
  padding: 40px 20px;
  background-image: url('../img/agedpaper.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 70px;
}