.navbar {
    width: 100%;
    padding: 1rem 2rem;
    z-index: 1000;
    position: fixed;
    background: transparent;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.navbar-logo a {
    display:flex;
    align-items: center;
    text-decoration: none;
}

.logo-img {
    height: 50px;
    width: auto;
}

.logo-text {
    font-family: 'MedievalSharp', cursive;
    color: #d4af37;
    font-size: 1.5rem;
    margin-left: 0.8rem;
}